html, body, div, span, object, h1, h2 ,h3,h4,h5,h6,p,b,u,i,center,ol,ul,li,table,caption{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{height: 100%;}
body{
	height: 100%;
	background-color: #FFF;
	font-size: 100%;
}

ol, ul {list-style: none;}
*{
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover{text-decoration: none;}

.container:before,
.container:after,
.row:before,
.row:after,
.clearfix:before,
.clearfix:after{
	content: " ";
	display: table;
}

.row:after,
.clearfix:after {clear:both;}


.left{float: left;}
.right{float: right;}



.container {
  
  margin-right: auto;
  margin-left: auto;
	width: 90%;
	
}

@media screen and (min-width:768px) {
    .container {width: 84%;}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}


.cols{
	float: left;
	margin: 0 0 1em;
	padding: 0 1em;
	
	text-align: center;
	/* word-wrap:break-word;*/
}



.col-1{width: 100%}
.col-2{width: 100%}
.col-3{width: 100%}
.col-4{width: 100%}
.col-5{width: 100%}
.col-6{width: 100%}
.col-7{width: 100%}
.col-8{width: 100%}
.col-9{width: 100%}
.col-10{width: 100%}
.col-11{width: 100%}
.col-12{width: 100%}


@media screen and (min-width:){
	
	
.col-1{width:8.333333333333%}
.col-2{width: 16.666666666666%}
.col-3{width: 25%}
.col-4{width: 33.333333333333%}
.col-5{width: 41.666666666665%}
.col-6{width: 50%}
.col-7{width: 58.333333333331%}
.col-8{width: 66.666666666664%}
.col-9{width: 74.999999999997%}
.col-10{width: 83.33333333333%}
.col-11{width: 91.666666666663%}
.col-12{width: 100%}
	
	
	
}

/*------ Home PAGE ---------*/

.header{
	min-height: 100%;
	height: auto;
	background: white url(../img/bg.png) no-repeat center ;
	 width: 100%;
     background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	text-align: center;
 
    
    
	
}



.nav {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 5%;
    float: right;
    position: fixed;
    z-index: 9999;
}

.header h1{font-family: 'Pacifico', cursive; 
    margin-top: 7%;
    font-size: 1.7em;
    color: white;
}

.header p{
    margin-top: 3%;
   margin-bottom: 14%;
    font-size: 1em;
   
    font-family: 'ABeeZee', sans-serif;
    color: white;
}


#iphone{ 
	
    max-width: 100%;height: auto;
   display: none;
    

}

.homepageBTN{padding: 20px 40px; border: 1px white solid; margin-bottom: 6%; 
    
    color: white; 
    border-radius: 12px;
}

.homepageBTN:hover{background-color: white; color: #62c2e7; transition: 0.5s;}
.fa-cloud-download {margin-left: 4%; margin-bottom: -5%;}


#myBd{
    
     transition: 0.5s;
}

/*------ Home PAGE  MEDIA ---------*/

@media screen and (min-width:500px) {
    .header h1{margin-top: 4%; font-size: 1.9em;}
    .homepageBTN{margin-top: 1%;}
    .header p {margin-bottom: 5%;}
   
}


@media screen and (min-width:768px) {
    .header img{float: left; }
    
    .header{text-align: right;  height: 100%;
        overflow: hidden;}
    
    .header h1{margin-top: 15%; font-size: 2.3em;}
    .header p {margin-left: 40%; font-size: 1.3em;}
    
    #iphone{display: block;}
    
    
}

@media screen and (min-width:1024px) {
    .header h1{font-size: 2.5em;}
    .header p {font-size: 1.5em;}
}


/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(232, 44, 44, 0.8);; /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 15%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 3%; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    text-transform: lowercase;
    font-family: "Parkavenue", cursive;
    padding: 1%;
    text-decoration: none;
    font-size: 1.6em;;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.5s; /* Transition effects on hover (color) */
}



/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    
    -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.closebtn{font-family: sans-serif;}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 1.3em;}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.fa-home,
.fa-heart-o,
.fa-television,
.fa-envelope{
    
    padding: 1%;
    background-color: white;
    color: #4eacdd;
    border-radius: 50%;
    margin-right: 2%;
}





/*------ Home PAGE END ---------*/


/*===== about me ========*/
.aboutMe{
    min-height: 100%;
    height: auto;
    padding: 5% 0;
    background-color: #f4f4f4;
    text-align: center;
}


.aboutMe h1{
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
    font-size: 1.7em;
    color: #545454;
}
.aboutMe p{
    font-family: 'ABeeZee', sans-serif;
    
    margin-top: 5%;
    color: #7e7e7e;
}

.aboutMe h2{
    text-align: left;
    margin-left: 5%;
     font-family:  cursive;
    font-size: 1em;
    margin-top: 5%;
    color: #8f8f8f;
    border-left: 6px #4eacdd solid;
    margin-bottom: 7%;
}


#ipad{display: none; max-width: 100%; height: auto;}


.sayHello{padding: 20px 40px; border: 2px #14af8f solid; margin-bottom: 6%; 
   
    color: #14af8f; 
    border-radius: 5px;
}

.sayHello:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */}

.fa-envelope-o {margin-left: 6%;}



#delay-2{animation-delay: 0.2s;}
#delay-4{animation-delay: 0.4s;}
#delay-6{animation-delay: 0.6s;}

/*===== about me  MEDIA========*/
@media screen and (min-width:768px) {
    #ipad{display: block; float: right; margin-right: -10%; }
    
    .aboutMe{text-align: left;overflow: hidden;height: 100%; padding: 2% 0;}
    .aboutMe h1{ font-size: 2em; }
    .aboutMe p { width: 60%; font-size: 1.1em; }
    .aboutMe h2{ width: 50%; margin-left: 2%; font-size: 1em; }
}
@media screen and (min-width:1024px) {
    #ipad{display: block; float: right; margin-right: -10%; }
    
    .aboutMe{text-align: left;overflow: hidden;height: 100%; padding: 2% 0;}
    .aboutMe h1{ font-size: 2.2em; }
    .aboutMe p { width: 60%; font-size: 1.3em; }
    .aboutMe h2{ width: 50%; margin-left: 2%; font-size: 1.1em; }
}

/*===== about me END ========*/

/*************** portfolio  ******************/

.portfolio{
    min-height: 100%;
    height: auto;
    padding: 5% 0;
  
    text-align: center;
}


.portfolio h1{
    font-family: 'Montserrat', sans-serif;
    margin-top: 7%;
    font-size: 1.7em;
    color: #545454;
}
.portfolio p{
    font-family: 'ABeeZee', sans-serif;
    
    margin-top: 5%;
    color: #7e7e7e;
}

.portfolio h2{
    text-align: right;
    margin-left: 5%;
     font-family:  cursive;
    font-size: 1em;
    margin-top: 5%;
    color: #8f8f8f;
    border-left: 6px #4eacdd solid;
    margin-bottom: 7%;
}


#device{display: none; max-width: 100%; height: auto;}
/*************** portfolio MEDIA  ******************/
@media screen and (min-width:768px) {
    
    #device{display: block; float: left; margin-right: -10%; margin-left: -14%; max-width: 60%; }
    
    .portfolio{text-align: right;overflow: hidden;height: 100%; padding: 2% 0;}
    .portfolio h1{ font-size: 2em; }
    .portfolio p { width: 60%; font-size: 1.1em; margin-left: 40%; }
    .portfolio h2{ width: 50%; margin-left: 2%; font-size: 1em;margin-left: 50%;  }
}

@media screen and (min-width:1024px) {
    #device {max-width: 100%;margin-top: 7%;}
   
}

/*************** portfolio END  ******************/

.donate{
	height: 100%;
	
	background: white url(../img/bg2.png) no-repeat center ;
	 width: 100%;
     background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	text-align: center;
 
}

.donate h1{
    
    font-family: 'Bungee Shade', cursive;
    font-size: 2em;
    color: white;
    margin-top: 15%;
    margin-bottom: 15%;
}


.donateBtn {padding: 15px 35px;
    border: 5px white solid;
    border-radius: 5px;
    color: white;
    font-family: 'Days One', sans-serif;
    
    cursor: pointer;
}

.donateBtn:hover{box-shadow: 0 0 17px rgba(250,250,250,0.7); }


@media screen and (min-width:768px) {
    .donate h1{
        font-size: 3em;
        margin-bottom: 10%;
    }
}



.contact{
    height: 100%;
    background-color: #f4f4f4;
    text-align: center;
}

.contact i {
    margin-top: 32%;
    margin-left: 2%;
    cursor: pointer;
    color: #545454
}
.contact i:hover{zoom:1.1;
    transition: 0.5s;
}

#delayicon-1{animation-delay: 0.3s;}
#delayicon-2{animation-delay: 0.4s;}
#delayicon-3{animation-delay: 0.5s;}
#delayicon-4{animation-delay: 0.6s;}
#delayicon-5{animation-delay: 0.7s;}



.contact h1{
    font-family: 'Contrail One', cursive;
    font-size: 1.4em;
    margin-top: 17%;
    color: #545454;
}


.email{padding: 5% 5%;
width: 80%;
    
    border: none;
    background-color: white;
    border-radius: 15px;
    margin-top: 15%;
}

.email:hover{box-shadow: 0 0 17px rgba(0,0,0,0.7);  }
.email:focus{box-shadow: 0 0 17px rgba(0,0,0,0.7);  }

@media screen and (min-width:768px) {
    .contact i {
    margin-top: 14%;
    margin-left: 4%;
}
    
    .contact h1{
        margin-top: 10%;
        font-size: 2.5em;
        
    }
    
    .email{width: 50%;
    padding: 3% 3%;
        margin-top: 10%;
    }

    
}

@media screen and (min-width:1024px) {
    .contact i {
    margin-top: 14%;
    margin-left: 4%;
}
    
    .contact h1{
        margin-top: 9%;
        font-size: 2.5em;
        
    }
    
    .email{width: 30%;
    padding: 2% 2%;
        margin-top: 2%;
    }

    
}